# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\masta\downloads\WebLabs.selection (2)\WebServlet_91_Memo_mvc_dbcp_helper_Interface\.idea/dataSources/
/dataSources.local.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
